:root {
    --azul-oscuro: #1b3280;
    --verde-esmeralda: #19b782;
    --borde-gris: #e5e8ec;
    --blanco: #ffffff;
    --fondo-gris-claro: #f8fafc;
    --texto-gris: #64748b;
}

body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: var(--fondo-gris-claro);
    color: var(--texto-gris);
    padding: 20px;
    line-height: 1.6;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background: var(--blanco);
    padding: 40px;
    border: 1px solid var(--borde-gris);
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}
/*accion de botn para volver al menu principal*/
.acciones-superiores {
    margin-bottom: 20px;
    padding-left: 10px;
}

.boton-volver {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: var(--color-secundario);
    font-weight: 800;
    font-size: 1.1rem;
    transition: color 0.3s ease, transform 0.3s ease;
}

.boton-volver:hover {
    color: var(--color-primario);
    transform: translateX(-5px);
}

h2 {
    color: var(--azul-oscuro);
    border-bottom: 2px solid var(--verde-esmeralda);
    padding-bottom: 10px;
    font-size: 16px;
    margin-top: 40px;
    text-transform: uppercase;
}

.form-group {
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.form-row input {
    flex: 1;
}

input[type="text"], 
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--borde-gris);
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 14px;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

.radio-group label, 
.checkbox-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 12px 0;
    cursor: pointer;
}

.btn-enviar {
    background-color: var(--verde-esmeralda);
    color: var(--blanco);
    border: none;
    padding: 16px 30px;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    margin-top: 40px;
    transition: background 0.3s ease;
}

.btn-enviar:hover {
    background-color:var(--verde-esmeralda);
}

.nota-explicativa {
    font-size: 13px;
    background: var(--fondo-gris-claro);
    padding: 15px;
    border-radius: 6px;
    border-left: 4px solid var(--verde-esmeralda);
}

.nota-legal {
    font-size: 13px;
    line-height: 1.6;
    border-top: 1px solid var(--borde-gris);
    margin-top: 50px;
    padding-top: 25px;
    color: #475569;
}